.inter-normal 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.noto-serif-normal 
{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.header-1 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px auto;
}
nav ul 
{
    display: flex;
    gap: 30px; 
    margin: 0;
    padding: 0;
}
nav ul li a
{
    text-decoration: none;
}
nav ul li 
{
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.fresh 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 150px;
}
.greeting 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.orange 
{
    color: #e95a08;
}
.plant 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 150px;
}
.plants 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.single-plant 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-cart 
{
    background-color: #e95a08;
    width: 270px;
    height: 50px;
    color: white;
    border: none;
}
.recommend 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper 
{
    position: relative; 
}
.badge 
{
    width: 286px;
    height: 286px;
    position: absolute;
    top: 1650px; 
    left: 485px; 
    z-index: 1; 
}
.lover 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 150px 150px auto;
}
.deals 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.off 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    color: white;
    margin: auto 150px;
}
.bloom-ana 
{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 25px;
    color: white;
}
.bloom 
{
    background-image: url(./assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.ana 
{
    background-image: url(./assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 367px;
    height: 197px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.zabo 
{
    background-image: url(./assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 753px;
    height: 423.13px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.subscribe 
{
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    place-content: center;
}
input
{
    width: 250px;
    height: 40px;
}
.sub-btn
{
    width: 150px;
    height: 46px;
    background-color: #E95A08;
    border: 0;
    color: white;
}
footer div ul li 
{
    list-style: none;
}
.contact 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin: auto 160px;
}
.social-media 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
footer div ul li a 
{
    list-style: none;
    text-decoration: none;
    color: #6b7280;
}
.white-shop 
{
    color: white;
}
.gray
{
    color: #8987A1;
}
.black
{
    color: black;
}
.modified-black
{
    color: #252432;
    font-weight: bold;
}
@media screen and (max-width: 394px) 
{
    .header-1 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 67px 16px auto;
    }
    .responsive-none
    {
        display: none;
    }
    .fresh 
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto 16px;
    }
    .always
    {
        width: 361px;
        height: 147px;
    }
    .hero 
    {
        width: 375px;    
        justify-content: center;
        align-items: center;
        object-fit: cover;
        margin-bottom: 100px;
    }
    .badge 
    {
        display: none;
    }
    .lover 
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        margin: auto 18px 17px;
    }
    .plant 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 15px 16px;
        width: 393px;
        font-size: 14px;
    }
    .plants 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 28.5px;
    }
    .single-plant 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 171px;
        height: 340.5px;
    }
    .single-plant-f
    {
        width: 171px;
        height: 196.5px;
    }
    .btn-cart 
    {
        width: 171px;
        height: 50px;
    }
    .flower
    {
        width: 171px;
        height: 196.5px;
    }
    .plants>*:nth-child(n+7) 
    {
        display: none;
    }
    .boy
    {
        width: 358px;
        height: 396px;
    }
    .off 
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        place-items: center;
        color: white;
        margin: auto 16px;
    }
    .off .item:nth-child(n + 7) 
    {
        display: none; 
    }
    .bloom 
    {
        width: 361px;
        height: 184.5px;
        font-size: 20px;
    }
    .ana 
    {
        width: 361px;
        height: 184.5px;
        font-size: 20px;
    }
    .zabo 
    {
        width: 361px;
        height: 172px;
        font-size: 20px;
    }
    .subscribe 
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 276px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    input
    {
        width: 150px;
        height: 20px;
    }
    .sub-btn
    {
        width: 80px;
        height: 25px;
        background-color: #E95A08;
        border: 0;
        color: white;
    }
    .contact 
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center start;
        justify-items: start;
        margin-left: 0;
    }
}